Repository Sylius/Sylius-Standard, pull requests merged in 2022-06, with the labels that each got.

#776 [maintenance]Fix ECS config
  ecs.php
Labels: Bug, DX, Maintenance

#763 [docker]Remove git from Dockerfile
  Dockerfile
Labels: Docker

#756 [maintenance]Ignore markdown files in pipelines
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: Maintenance

#755 [docker]Describe how to run Sylius-Standard with docker compose configuration
  README.md
Labels: Maintenance, Docker

#775 [docker]Specify alpine version for node and php-fpm images
  .github/workflows/docker.yml
  Dockerfile
Labels: Maintenance, Docker

#779 Update ECS configuration to fix the build
  ecs.php
Labels: Bug, DX

#762 [docker]Remove mariadb-client
  Dockerfile
Labels: Docker

#764 [docker]Hadolint improvements
  .dockerignore
  Dockerfile
Labels: Docker

#781 [docker]Create development image stage
  Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
Labels: Docker
