Repository Sylius/Sylius-Standard, pull requests merged in 2022-05, with the labels that each got.

#719 [docker]Remove Docker Compose optional version
  docker-compose.prod.yml
  docker-compose.yml
Labels: Enhancement, Docker

#720 [docker]Execute yarn build in production Dockerfile
  Dockerfile
  docker-compose.yml
Labels: Enhancement, Docker

#728 [Maintenance] Update Sylius to newest dev master
  .github/workflows/build.yml
  composer.json
  package.json
Labels: Maintenance

#724 [docker]Do not download images as they don't exist
  docker-compose.yml
Labels: Enhancement, Docker

#725 [docker]Use mysql instead of percona
  docker-compose.prod.yml
  docker-compose.yml
Labels: Enhancement, Docker

#735 [docker]Increase APCU module version
  Dockerfile
  symfony.lock
  yarn.lock
Labels: Enhancement, Docker

#736 [docker]Create docker build pipeline
  .github/workflows/docker.yml
Labels: Maintenance, Docker

#743 [maintenance]Remove vagrant annotation from readme
  README.md
Labels: Maintenance

#733 [maintenance]Create autolabeler config for Sylius-Standard
  .github/autolabeler.yml
Labels: Maintenance

#752 Revert "[maintenance]Try dark and light Sylius logo variants"
  README.md
Labels: Maintenance

#741 [docker]Simplify docker-compose production environment config
  .env.prod
  docker-compose.prod.yml
Labels: Docker

#747 [docker]Get back container names
  docker-compose.prod.yml
  docker-compose.yml
Labels: Enhancement, Docker

#759 Pipeline that will test Sylius Store on Docker
  .dockerignore
  .github/workflows/docker.yml
  docker-compose.yml
  docker/php/docker-entrypoint.sh
  docker/test.sh
Labels: Maintenance, Docker
