Repository Sylius/Sylius-Standard, pull requests merged in 2022-12, with the labels that each got.

#861 [docker] - Bug fix for cron container
  docker/cron/crontab
Labels: Docker

#860 [docker] - Enable cron container to wait for migrations
  Dockerfile
  docker/cron/docker-entrypoint.sh
Labels: Docker

#871 Use @sylius-ui/frontend npm package
  .gitignore
  package.json
Labels: DX, Frontend

#891 [Maintenance] PHP Attributes in the Entity classes
  src/Entity/Addressing/Address.php
  src/Entity/Addressing/Country.php
  src/Entity/Addressing/Province.php
  src/Entity/Addressing/Zone.php
  src/Entity/Addressing/ZoneMember.php
  src/Entity/Channel/Channel.php
  src/Entity/Channel/ChannelPricing.php
  src/Entity/Currency/Currency.php
  src/Entity/Currency/ExchangeRate.php
  src/Entity/Customer/Customer.php
  src/Entity/Customer/CustomerGroup.php
  src/Entity/Locale/Locale.php
  src/Entity/Order/Adjustment.php
  src/Entity/Order/Order.php
  src/Entity/Order/OrderItem.php
  src/Entity/Order/OrderItemUnit.php
  src/Entity/Order/OrderSequence.php
  src/Entity/Payment/GatewayConfig.php
  src/Entity/Payment/Payment.php
  src/Entity/Payment/PaymentMethod.php
  src/Entity/Payment/PaymentMethodTranslation.php
  src/Entity/Payment/PaymentSecurityToken.php
  src/Entity/Product/Product.php
  src/Entity/Product/ProductAssociation.php
  src/Entity/Product/ProductAssociationType.php
  src/Entity/Product/ProductAssociationTypeTranslation.php
  src/Entity/Product/ProductAttribute.php
  src/Entity/Product/ProductAttributeTranslation.php
  src/Entity/Product/ProductAttributeValue.php
  src/Entity/Product/ProductImage.php
  src/Entity/Product/ProductOption.php
  src/Entity/Product/ProductOptionTranslation.php
  src/Entity/Product/ProductOptionValue.php
  src/Entity/Product/ProductOptionValueTranslation.php
  src/Entity/Product/ProductReview.php
  src/Entity/Product/ProductTaxon.php
  src/Entity/Product/ProductTranslation.php
  src/Entity/Product/ProductVariant.php
  src/Entity/Product/ProductVariantTranslation.php
  src/Entity/Promotion/CatalogPromotion.php
  src/Entity/Promotion/CatalogPromotionAction.php
  src/Entity/Promotion/CatalogPromotionScope.php
  src/Entity/Promotion/Promotion.php
  src/Entity/Promotion/PromotionAction.php
  src/Entity/Promotion/PromotionCoupon.php
  src/Entity/Promotion/PromotionRule.php
  src/Entity/Shipping/Shipment.php
  src/Entity/Shipping/ShippingCategory.php
  src/Entity/Shipping/ShippingMethod.php
  src/Entity/Shipping/ShippingMethodTranslation.php
  src/Entity/Taxation/TaxCategory.php
  src/Entity/Taxation/TaxRate.php
  src/Entity/Taxonomy/Taxon.php
  src/Entity/Taxonomy/TaxonImage.php
  src/Entity/Taxonomy/TaxonTranslation.php
  src/Entity/User/AdminUser.php
  src/Entity/User/ShopUser.php
  src/Entity/User/UserOAuth.php
Labels: DX, Enhancement
